:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
	--light-grey: #dce4e3;
  --text-color: #084236;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

p {
  color: var(--text-color);
  display: flex;
  align-items: center;
  
}

.container {
  display: flex;
  height: 100vh;
}

.title-menu {
  position: relative;
  display: flex;
  left: 184px;
}

.menu-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px;
}

.menu-burguer {
  background-color: var(--green);
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0px;
  width: 250px;
}

.menu:hover {
  background-color: var(--light-green);
  cursor: pointer;
  border-radius: 10px;
  padding: 2px 14px;
}

.title {
  display: flex;
  margin-left: 78px;
  margin-top:18px ;
  color: var(--text-color);
}

.icon-lupa {
  padding: 29px 26px 34px;
}

.title-menu {
  padding: 2px 26px 26px;
}

.icon-dashboard {
  padding: 22px 26px 38px;
}

.icon-pets {
  padding: 50px 26px 38px;
}

.icon-clientes {
  padding: 4px 25px 4px;
}

.icon-vets {
  padding: 33px 24px 5px;
}

.icon-ajustes {
  padding: 35px 22px 5px;
}

.log-out {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  padding: 4px 26px 11px;
  background-color: var(--light-green);
}

.user-perfil {
  display: grid;
  margin-bottom: 5px;
}

.button-lupa {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -59px;
  margin-left: -60px;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.2s;
}

.lupa:hover {
  gap: 12px;
  border-radius: 25px;
  transition: all 0.2s;
  padding: 1px 7px 11px 0px;
  margin-left: 2px;
  background-color: var(--light-green);
  cursor: pointer;
}

.dashboard {
  margin-top: 21px;   
}

.dashboard:hover {
  gap: 12px;
  border-radius: 25px;
  transition: all 0.2s;
  padding: 1px 4px 10px 0px;
  margin-top: 26px;
  margin-left: 1px;
  margin-bottom: -14px;
  background-color: var(--light-green);
  cursor: pointer;
}

.icon-pets:hover {
  gap: 12px;
  border-radius: 25px;
  transition: all 0.2s;
  padding: 15px 14px 13px 23px;
  margin-top: 26px;
  margin-left: 2px;
  margin-right: 7px;
  margin-bottom: 17px;
  background-color: var(--light-green);
  cursor: pointer;
}

.user {
  margin-top: -6px;
}

.user:hover {
  gap: 12px;
  border-radius: 25px;
  transition: all 0.2s;
  padding: 13px 1px 12px 1px;
  margin-top: -1px;
  margin-left: 6px;
  margin-right: 5px;
  margin-bottom: -8px;
  background-color: var(--light-green);
  cursor: pointer;
}

.icon-vets:hover {
  gap: 12px;
  border-radius: 25px;
  transition: all 0.2s;
  padding: 21px 44px 1px 20px;
  margin-top: 28px;
  margin-left: 4px;
  margin-right: 8px;
  margin-bottom: 1px;
  background-color: var(--light-green);
  cursor: pointer;
}

.icon-ajustes:hover {
  gap: 12px;
  border-radius: 25px;
  transition: all 0.2s;
  padding: 19px 30px 2px 18px;
  margin-top: 29px;
  margin-left: 4px;
  margin-right: 8px;
  margin-bottom: 1px;
  background-color: var(--light-green);
  cursor: pointer;
}

.button-dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -69px;
  margin-left: -29px;
  cursor: pointer;
}

.button-pet {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -30px;
  margin-left: -80px;
  cursor: pointer;
}

.button-user {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -30px;
  margin-left: -80px;
  cursor: pointer;
}

.button-vets {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -30px;
  margin-left: -80px;
  cursor: pointer;
}

.button-settings {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -30px;
  margin-left: -80px;
  cursor: pointer;
}
