:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
	--light-grey: #dce4e3;
  --text-color: #084236;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

p {
  color: var(--text-color);
  display: flex;
  align-items: center;
  
}

.container {
  display: flex;
  height: 100vh;
}

.title-menu {
  position: relative;
  display: flex;
  left: 184px;
}

.menu-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px;
}

.menu-burguer {
  background-color: var(--green);
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0px;
  width: 250px;
  transition: all 0.2s;
}

.menu {
  padding: 2px 14px;
}

.menu:hover {
  background-color: var(--light-green);
  cursor: pointer;
  border-radius: 10px;
}

.title {
  display: flex;
  margin-left: 78px;
  margin-top:18px ;
  color: var(--text-color);
}

.log-out {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  padding: 4px 26px 11px;
  background-color: var(--light-green);
}

nav {
  padding: 27px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

nav ul li {
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 14px;
  border-radius: 12px;
  transition: background 0.2s;
  cursor: pointer;
}

.bar-search {  
  background: var(--light-green, #8ED7C6);
}

nav ul li:hover {
  background: var(--light-green, #8ED7C6);
}

.display-none {
  display: none;
}

.active-menu {
  width: 107px !important;
}

div.active-menu .menu-logo {
  justify-content: center;
}